[submodule "egg"]
	path = egg
	url = https://github.com/bogolisk/egg.git
[submodule "textmate.el"]
	path = textmate.el
	url = https://github.com/defunkt/textmate.el.git
[submodule "emacs-powerline"]
	path = emacs-powerline
	url = ./emacs-powerline
[submodule "indent-guide"]
	path = indent-guide
	url = https://github.com/zk-phi/indent-guide.git
